.image-cropper {
    width: 100px;
    height: 100px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
}

img {
    display: inline;
    margin: 0 auto;
    height: 100%;
    width: auto;
}

.code {
    font-family: SFMono-Regular,Consolas,Liberation Mono,Menlo,Courier,monospace;
    background: #333;
    border-radius: 5px;
    padding: 0 5px;
}
.code-block {
    background: #333;
    width: 100%;
    line-height: 4em;
    text-align: center;
    border-radius: 10px;
    transition: 0.3s;
    opacity: 1;

}

.admin-tag {
    display: inline;
    position: relative;
    top: 3px;
}

.code-block.hidden {
   opacity: 0;

}

.link {
    cursor: pointer;
    background: none;
    border: 0;
    color: #dcff56;
}

.loading-login {
    display: block;
    height: 1em;
    width: 4em;
    background: #dee5ed;
    opacity: 0.5;
    border-radius: 20px;
}