<section class="section no-bg">
  <div class="container vert-center">
      <div class="card login has-text-centered">
          <div class="card-content">
              <div class="has-text-centered">
                  <div style="background: url(assets/img/quadclub.png); width: 127px; height: 127px; border-radius: 50%;margin: 0 auto 1em">
                  </div>
              </div>
              <div class="media-content has-text-centered">
                  <p class="title is-4">Quad Club</p>
                  <p class="subtitle is-6">Brazlian Team Fortress</p>
              </div>
              <div class="content">
              <div class="card-button">
                  <a class="button is-danger" (click)="googleSignIn()"><i class="fab fa-google"></i>&nbsp;&nbsp;&nbsp;&nbsp; Login with Google</a>   
              </div>                    
              </div>
          </div>
      </div>
  </div>
</section>



<!--<div *ngIf="auth.user$ | async as user; else login">
  <pre>
    {{ user | json }}
  </pre>

  <hr>
  <button class="button" (click)="auth.signOut()">Sign Out</button>

</div>
<div *ngIf="auth.loginFailed$">
  <pre>
    Login Failed
  </pre>
</div>

<ng-template #login>
  <button class="button" (click)="auth.googleSignIn()">Login with Google</button>
  <button mat-raised-button color="primary">Primary</button>
</ng-template>-->

