<section class="section no-bg">
  <div class="login-box">
      <div class="login-logo">
        <b>Q U A D C L U B</b>
      </div>
      <!-- /.login-logo -->
      <div class="card">
        <div class="card-body login-card-body">
          <p class="login-box-msg">Brazlian Team Fortress</p>
          <div class="social-auth-links text-center mb-3">
            <button  class="btn btn-block btn-danger" (click)="googleSignIn()">
              <i class="fab fa-google mr-2"></i> Login with Google
            </button>
          </div>
        </div>
        <!-- /.login-card-body -->
      </div>
    </div>
</section>



<!--<div *ngIf="auth.user$ | async as user; else login">
  <pre>
    {{ user | json }}
  </pre>

  <hr>
  <button class="button" (click)="auth.signOut()">Sign Out</button>

</div>
<div *ngIf="auth.loginFailed$">
  <pre>
    Login Failed
  </pre>
</div>

<ng-template #login>
  <button class="button" (click)="auth.googleSignIn()">Login with Google</button>
  <button mat-raised-button color="primary">Primary</button>
</ng-template>-->

